{% extends 'base.html' %}
{% load markdown_extras %}

{% block title %}Menu{% endblock %}

{% block content %}
    <h2 class="text-center">Últimas postagens</h2>
    <div class="row">
        {% for post in posts %}
    
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    {% if post.image_url %}
                        <img src="{{ post.image_url.url }}" class="card-img-top" alt="{{ post.title }}">
                    {% else %}
                    <img src="https://via.placeholder.com/150" class="card-img-top" alt="Placeholder Image">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ post.title }}</h5>
                        <!-- <p class="card-text">{{ post.content|markdownify|slice:":20" }}...</p> -->
                        <a href="{% url 'post_detail' post.slug %}" class="btn btn-primary">Leia mais</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
