body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: background-color 0.3s, color 0.3s;
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
    background: #5E5768;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #3A445D;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #000000;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
    color: #fff;
    text-decoration: none;
}

#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

.social-icons {
    text-align: center;
    padding: 20px 0;
}

.social-icons a {
    color: #fff;
    margin: 0 10px;
    font-size: 1.5em;
}

.card {
    transition: transform 0.3s;
}

.card:hover {
    transform: translateY(-5px);
}

.card-img-top {
    width: 100%;
    /* Faz a imagem ocupar toda a largura do contêiner */
    height: auto;
    /* Mantém a proporção da imagem */
    object-fit: cover;
    /* Ajusta como a imagem é redimensionada dentro do contêiner */
    display: block;
    /* Garante que a imagem seja exibida como um elemento de bloco */
}

.dark-mode {
    background-color: #333;
    color: #fff;
}

.dark-mode .card {
    background-color: #444;
    color: #fff;
}

.dark-mode .navbar {
    background-color: #222 !important;
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }

    #sidebar.active {
        margin-left: 0;
    }
}


.toggle-sidebar {
    background-color: rgb(156, 155, 155);
}