body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: background-color 0.3s, color 0.3s;

}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
    background: #034748;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #034748;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #000000;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li {
    width: 100%;
    /* Faz o <li> ocupar toda a largura do container */
}

#sidebar ul li a {
    padding: 10px 15px;
    /* Aumenta a área clicável ao redor do texto */
    width: 100%;
    /* Garante que o <a> ocupe toda a largura do <li> */
    font-size: 1.1em;
    display: block;
    color: #fff;
    text-decoration: none;
}

#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li i {
    padding-left: 10px;
    /* Ajuste conforme o espaço que deseja */
}

.row {
    margin-top: 20px;
    /* Espaço entre a navbar e a row, ajustável conforme necessário */
}

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

.social-icons {
    text-align: center;
    padding: 20px 0;
}

.social-icons a {
    color: #fff;
    margin: 0 10px;
    font-size: 1.5em;
}

.card {
    transition: transform 0.3s;
}

.card:hover {
    transform: translateY(-5px);
}

.card-img-top {
    width: 100%;
    /* Faz a imagem ocupar toda a largura do contêiner */
    height: auto;
    /* Mantém a proporção da imagem */
    object-fit: cover;
    /* Ajusta como a imagem é redimensionada dentro do contêiner */
    display: block;
    /* Garante que a imagem seja exibida como um elemento de bloco */
}

.dark-mode {
    background-color: #333;
    color: #fff;
}

.dark-mode .card {
    background-color: #444;
    color: #fff;
}

.dark-mode .navbar {
    background-color: #222 !important;
}

.dark-mode #sidebar {
    background-color: #222;
    /* Cor de fundo escura para a sidebar */
    color: #ddd;
    /* Cor de texto mais clara */
}

.dark-mode #sidebar .sidebar-header {
    background-color: #1a1a1a;
    /* Cor de fundo escura para o cabeçalho da sidebar */
}

.dark-mode #sidebar ul li a {
    color: #ddd;
    /* Cor de texto dos links */
}

.card-text p {
    margin: 0; /* Remove margin */
    padding: 0 1rem; /* Adiciona padding nas laterais */
    text-align: justify; /* Opcional: justifica o texto */
}

.card-text ul, 
.card-text ol {
    padding-left: 2rem; /* Ajusta espaçamento para listas */
}

.card-text h1, 
.card-text h2, 
.card-text h3 {
    padding: 0 1rem;
}


.dark-mode #sidebar ul li a:hover {
    color: #fff;
    /* Cor de hover dos links */
    background-color: #333;
    /* Cor de fundo ao passar o mouse */
}


@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }

    #sidebar.active {
        margin-left: 0;
    }
}


.toggle-sidebar {
    background-color: rgb(156, 155, 155);
}

/* botao dark mode novo */

/* The switch - the box around the slider */
.switch {
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 3.5em;
    height: 2em;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    --background: #ffffff;
    /* Modo claro */
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--background);
    transition: .5s;
    border-radius: 30px;
}


.slider:before {
    position: absolute;
    content: "";
    height: 1.4em;
    width: 1.4em;
    border-radius: 50%;
    left: 10%;
    bottom: 15%;
    box-shadow: inset 8px -4px 0px 0px #333;
    /* Sombras escuras para modo claro */
    background: var(--background);
    /* Círculo branco para modo claro */
    transition: .5s;
}

input:checked+.slider {
    background-color: #333333;
    /* Fundo escuro */
}

input:checked+.slider:before {
    transform: translateX(100%);
    box-shadow: inset 15px -4px 0px 15px #ffffff;
    /* Círculo com sombra clara */
    background-color: #ffffff;
    /* Círculo branco no modo escuro */
}

/* Estilo do container centralizado */
.form-container {
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 40px auto;
}

.dark-mode .form-container {
    background-color: #444;
    color: #ddd;
}

/* Estilo do título */
.form-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

/* Estilo dos inputs do formulário */
.form-container .form-control {
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1rem;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

/* Estilo do botão de submissão */
.form-container .btn-primary {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    background-color: #007bff;
    border: none;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-container .btn-primary:hover {
    background-color: #0056b3;
}